.heading {
	font-size: bold;
	text-align: center;
	background-color:green;
	height: 50px;
	padding-right: 10px;
}

.box {
	height:620px;
	border: 2px solid black;
	margin-right: 0;
}
.left {	
	margin-right: 0px;
}

.middle {
	background-image: url(../../assets/messages_bg.jpg);	
}

.right {
	margin-left: 0px;
}

#logout {
	padding-top: 0%;
	text-align: center;
	border-style: solid;
	border-radius: 5px;
	float: right;
	
}