<div class="container">
	<div class="login">
	<h1 style="text-align: center">
		<strong>Login to Angular Stream</strong>
	</h1>

	<form #loginform='ngForm' (ngSubmit)='loginUser(loginform)' role='loginform' method="POST" autocomplete="off" action="/login">

		<div class="form-group">
			<div class="input-group">
				<div class="input-group-user"><i class="fa fa-user-circle"></i></div>
				<input type="text" name="username" placeholder="Enter username" method="POST" class="form-control" ngModel>
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-addon">
					<i class="fa fa-lock"></i>
				</div>
				<input type="password" name="password" placeholder="Enter password" required method="POST" class="form-control" ngModel>
			</div>
		</div>
		<div class="btn">
			<button class="btn btn-green" type="submit">Login</button>
			<button class="btn btn-blue" (click)="register()">Register</button>
		</div>
	</form>
	</div>
</div>